<link rel="stylesheet" href="{{ url_for('static', filename='cadastrar_empresa.css') }}">

<main class="form-main">
    <form action="/cadastrar_empresa" class="form-card" method="POST" data-spa-post>
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>

        <label for="nome">Nome da Empresa:</label>
        <input id="nome" name="nome" placeholder="Ex: Power Vending" required type="text"/>

        <button type="submit">Cadastrar Empresa</button>
    </form>
</main>

{% with mensagens = get_flashed_messages() %}
    {% if mensagens %}
    <div class="toast" id="toast">
        {{ mensagens[0] }}
    </div>
    {% endif %}
{% endwith %}
