    <main class="form-main">
        <form action="/cadastrar_recorrente" class="form-card" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="cliente">Nome do Cliente:</label>
            <input id="cliente" name="cliente" required type="text"/>

            <label for="empresa">Empresa:</label>
            <select id="empresa" name="empresa" required>
                {% for empresa in lista_empresas %}
                <option value="{{ empresa }}">{{ empresa }}</option>
                {% endfor %}
            </select>

            <label for="porta_ssh">Porta SSH da Máquina:</label>
            <input id="porta_ssh" name="porta_ssh" type="text"/>

            <label for="tipo_maquina">Tipo da Máquina:</label>
            <select id="tipo_maquina" name="tipo_maquina">
                {% for modelo in lista_maquinas %}
                <option value="{{ modelo }}">{{ modelo }}</option>
                {% endfor %}
            </select>

            <label for="relato">Relato / Solicitação do Cliente:</label>
            <textarea id="relato" name="relato" rows="3" required></textarea>

            <label for="prioridade">Prioridade:</label>
            <select id="prioridade" name="prioridade">
                <option>Baixa</option>
                <option>Média</option>
                <option>Alta</option>
                <option>Crítica</option>
            </select>

            <label for="origem">Origem do Caso:</label>
            <select id="origem" name="origem" required>
                <option value="" disabled selected>Selecione a origem do problema</option>
                {% for nome in lista_origens %}
                <option value="{{ nome }}">{{ nome }}</option>
                {% endfor %}
            </select>

            <label for="responsavel_atendimento">Responsável pelo Atendimento:</label>
            <input id="responsavel_atendimento" name="responsavel_atendimento" type="text" value="{{ session['usuario'] }}" readonly/>

            <label for="responsavel_acao">Responsável pela Ação:</label>
            <select id="responsavel_acao" name="responsavel_acao" required>
                <option value="" disabled selected>Selecione um responsável</option>
                {% for user in lista_usuarios %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>

            <label for="frequencia">Frequência:</label>
            <select id="frequencia" name="frequencia" required>
                <option value="diaria">Diária</option>
                <option value="semanal">Semanal</option>
                <option value="mensal">Mensal</option>
            </select>

            <label for="proxima_execucao">Próxima Execução:</label>
            <input id="proxima_execucao" name="proxima_execucao" required type="date"/>

            <button type="submit">Salvar Chamado Recorrente</button>
        </form>
    </main>