<link rel="stylesheet" href="{{ url_for('static', filename='cadastrar_usuario.css') }}">

<main class="form-main">
  <form method="POST" action="/cadastrar_usuario" class="form-card">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <label for="usuario">Nome de Usuário:</label>
      <input type="text" name="usuario" id="usuario" required>

      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" required>

      <label for="confirmar_senha">Confirmar Senha:</label>
      <input type="password" name="confirmar_senha" id="confirmar_senha" required>

      <label for="is_admin">Nível de Privilégio:</label>
      <select name="is_admin" id="is_admin" required>
        <option value="0">Usuário Comum</option>
        <option value="2">Técnico</option>
        <option value="1">Administrador</option>
      </select>

      <button type="submit">Cadastrar Usuário</button>
  </form>
</main>