<!DOCTYPE html>

<html lang="pt-br">
<head>
<meta charset="utf-8"/>
<title>Cadastrar Tipo de Máquina</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
    <header class="topbar">
        <div class="usuario-info">
            <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="Foto do usuário" class="usuario-avatar">
            <div class="usuario-dados">
                <span class="usuario-nome">{{ session["usuario"] }}</span>
                <span class="usuario-cargo">
                    {% if session["is_admin"] == 1 %}Administrador
                    {% elif session["is_admin"] == 2 %}Técnico
                    {% else %}Usuário Comum
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="topbar-left">
            <h1>{{ titulo_pagina }}</h1>
        </div>
        <div class="topbar-right">
            <button class="darkmode-btn" id="toggle-darkmode">
            🌙 Modo Escuro
            </button>
            <form action="/" method="get" class="topbar-form">
                <button type="submit">Home</button>
            </form>
            <form action="/logout" method="get" class="topbar-form">
                <button type="submit">Sair</button>
            </form>
        </div>
    </header>
<main class="form-main">
<form action="/cadastrar_maquina" class="form-card" method="POST"><input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
<label for="modelo">Modelo da Máquina:</label>
<input id="modelo" name="modelo" placeholder="Ex: PV-3000" required="" type="text"/>
<button type="submit">Cadastrar Máquina</button>
</form>
</main>

    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div class="toast" id="toast">
                {{ mensagens[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
