<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Tipo de Máquina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="topbar">
        <h1>Cadastrar Tipo de Máquina</h1>
        <form action="/" method="get" class="logout-form" style="margin-right: 12px;">
            <button type="submit">← Voltar para Home</button>
        </form>
        <form action="/logout" method="get" class="logout-form">
            <button type="submit">Sair</button>
        </form>
    </header>

    <main class="form-main">
        <form method="POST" action="/cadastrar_maquina" class="form-card">
            <label for="modelo">Modelo da Máquina:</label>
            <input type="text" name="modelo" id="modelo" placeholder="Ex: PV-3000" required>

            <button type="submit">Cadastrar Máquina</button>
        </form>
    </main>

    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div class="toast" id="toast">
                {{ mensagens[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
