<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <header class="topbar">
            <button class="darkmode-btn" id="toggle-darkmode">
            🌙 Modo Escuro
            </button>
            <form action="/login" method="get" class="topbar-form">
                <button type="submit">Login</button>
            </form>
    </header>

    <main class="form-main">
        <form method="POST" action="/redefinir_senha" class="form-card">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            {% with mensagens = get_flashed_messages() %}
                {% if mensagens %}
                    <div class="login-erro">
                        {{ mensagens[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <label for="usuario">Nome de Usuário:</label>
            <input type="text" name="usuario" id="usuario" placeholder="Digite seu usuário" required>

            <label for="nova_senha">Nova Senha:</label>
            <input type="password" name="nova_senha" id="nova_senha" placeholder="Digite a nova senha" required>

            <label for="confirmar_senha">Confirmar Nova Senha:</label>
            <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirme a nova senha" required>

            <button type="submit">Redefinir Senha</button>
        </form>
    </main> 
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>